nav {
    // background-color: #AF8260;
    width: 100%;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    
    
    .icon {
        width: 200px;

        h2 {
            font-size: 40px;

        }
    }

    ul {
        position: relative;
        right: 300px;

        li {
            list-style: none;
            display: inline-block;
            margin: 50px 10px;
            font-size: 18px;
            margin-right: 20px;
            
            

            a {
                color: rgb(255, 255, 255);
                transition: 0.2s;
                
            }

            a:hover {
                color: #ffc74f;
            }
        }
    }

    .search {
        position: absolute;
        right: 13%;
    
        .box {
          height: 40px;
          background-color: rgb(255, 255, 255);
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        input {
          background: none;
          outline: none;
          border: none;
          padding: 0;
          margin: 0;
          width: 0px;
          transition: 0.8s ease;
          color: rgb(0, 0, 0);
          font-weight: 600;
        }
    
        input::placeholder {
          color: rgb(51, 51, 51);
        }
    
        button {
          color: rgb(0, 0, 0);
          text-align: center;
          width: 40px;
          font-size: 20px;
          transition: background-color 2s ease;
          border: none;
          /* Ẩn viền */
          background: none;
    
    
        }
    
        .box:hover input {
          width: 200px;
          margin: 0 20px;
    
        }
    
        input:focus {
          width: 200px;
          margin: 0 20px;
    
        }
      }
    
      .langue {
        position: absolute;
        right: 10%;
    
        button {
          color: rgb(255, 255, 255);
          text-align: center;
          width: 40px;
          background: none;
          /* Ẩn nền */
          border: none;
          /* Ẩn viền */
          padding: 0;
          /* Loại bỏ padding */
          margin: 0;
          /* Loại bỏ margin */
    
        }
      }



}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.navb {
    background-color: #321d0c;
    transition: 0.2s;
  
}


.navb a {

    transition: 0.2s;
    color: #ffffff;
    border: none;

}